<div id="topDiv">
    <div id="switch">
        <div id="left">
            <p>S'inscrire</p>
        </div>
        <div id="right">
            <p>Se connecter</p>
        </div>
    </div>

    <div id="progressBar">
        <div id="step1" [ngClass]="step == 0 ? 'pending' : 'completed-round'"><p>1</p></div>
        <div id="line12" [ngClass]="step == 0 ? '' : 'completed'"></div>
        <div id="step2" [ngClass]="step == 0 ? '' : (step == 1 ? 'pending' : 'completed-round')"><p>2</p></div>
        <div id="line23" [ngClass]="step <= 1 ? '' : 'completed'"></div>
        <div id="step3" [ngClass]="step <= 1 ? '' : (step == 2 ? 'pending' : 'completed-round')"><p>3</p></div>
    </div>
</div>

<div id="step1content" *ngIf="step == 0">
    <input id="firstNameInput" name="firstName" type="text" placeholder="John"/>
    <input id="nameInput" name="name" type="text" placeholder="Doe"/>
    <input id="addressInput" name="address" type="text" placeholder="1 Chicken Street"/>
    <input id="cityInput" name="city" type="text" placeholder="New York"/>

    <button id="valid1" (click)="submit(1)">Continuer</button>
</div>

<div id="step2content" *ngIf="step == 1">
    <button id="valid2" (click)="submit(2)">Continuer2</button>
</div>

<div id="step3content" *ngIf="step == 2">
    <button id="valid3" (click)="submit(3)">Continuer3</button>
</div>